xml-resources/web-service-references/peticiones/wsdl/localhost_8080/Punto_de_Venta_Servidor/peticiones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="peticiones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Punto_de_Venta_Servidor/peticiones?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarProveedores">
<part name="parameters" element="tns:listarProveedores"/>
</message>
<message name="listarProveedoresResponse">
<part name="parameters" element="tns:listarProveedoresResponse"/>
</message>
<message name="registrarTipoPago">
<part name="parameters" element="tns:registrarTipoPago"/>
</message>
<message name="registrarTipoPagoResponse">
<part name="parameters" element="tns:registrarTipoPagoResponse"/>
</message>
<message name="registrarProveedorYClasificacion">
<part name="parameters" element="tns:registrarProveedorYClasificacion"/>
</message>
<message name="registrarProveedorYClasificacionResponse">
<part name="parameters" element="tns:registrarProveedorYClasificacionResponse"/>
</message>
<message name="registrarCompetenciaRol">
<part name="parameters" element="tns:registrarCompetenciaRol"/>
</message>
<message name="registrarCompetenciaRolResponse">
<part name="parameters" element="tns:registrarCompetenciaRolResponse"/>
</message>
<message name="registrarUsuarioPersonaRol">
<part name="parameters" element="tns:registrarUsuarioPersonaRol"/>
</message>
<message name="registrarUsuarioPersonaRolResponse">
<part name="parameters" element="tns:registrarUsuarioPersonaRolResponse"/>
</message>
<message name="registrarFacturaConItems">
<part name="parameters" element="tns:registrarFacturaConItems"/>
</message>
<message name="registrarFacturaConItemsResponse">
<part name="parameters" element="tns:registrarFacturaConItemsResponse"/>
</message>
<message name="listarroles">
<part name="parameters" element="tns:listarroles"/>
</message>
<message name="listarrolesResponse">
<part name="parameters" element="tns:listarrolesResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="loginUsuario2">
<part name="parameters" element="tns:loginUsuario2"/>
</message>
<message name="loginUsuario2Response">
<part name="parameters" element="tns:loginUsuario2Response"/>
</message>
<message name="listartipospagos">
<part name="parameters" element="tns:listartipospagos"/>
</message>
<message name="listartipospagosResponse">
<part name="parameters" element="tns:listartipospagosResponse"/>
</message>
<message name="buscarRuc">
<part name="parameters" element="tns:buscarRuc"/>
</message>
<message name="buscarRucResponse">
<part name="parameters" element="tns:buscarRucResponse"/>
</message>
<message name="siexisteComp">
<part name="parameters" element="tns:siexisteComp"/>
</message>
<message name="siexisteCompResponse">
<part name="parameters" element="tns:siexisteCompResponse"/>
</message>
<message name="siexisterol">
<part name="parameters" element="tns:siexisterol"/>
</message>
<message name="siexisterolResponse">
<part name="parameters" element="tns:siexisterolResponse"/>
</message>
<message name="buscarP">
<part name="parameters" element="tns:buscarP"/>
</message>
<message name="buscarPResponse">
<part name="parameters" element="tns:buscarPResponse"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<message name="loginUsuario">
<part name="parameters" element="tns:loginUsuario"/>
</message>
<message name="loginUsuarioResponse">
<part name="parameters" element="tns:loginUsuarioResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="registrarrol">
<part name="parameters" element="tns:registrarrol"/>
</message>
<message name="registrarrolResponse">
<part name="parameters" element="tns:registrarrolResponse"/>
</message>
<message name="listarPersonas">
<part name="parameters" element="tns:listarPersonas"/>
</message>
<message name="listarPersonasResponse">
<part name="parameters" element="tns:listarPersonasResponse"/>
</message>
<message name="buscarClasificacionporNombre">
<part name="parameters" element="tns:buscarClasificacionporNombre"/>
</message>
<message name="buscarClasificacionporNombreResponse">
<part name="parameters" element="tns:buscarClasificacionporNombreResponse"/>
</message>
<message name="registrarProveedor">
<part name="parameters" element="tns:registrarProveedor"/>
</message>
<message name="registrarProveedorResponse">
<part name="parameters" element="tns:registrarProveedorResponse"/>
</message>
<message name="buscarProveedorporRUC">
<part name="parameters" element="tns:buscarProveedorporRUC"/>
</message>
<message name="buscarProveedorporRUCResponse">
<part name="parameters" element="tns:buscarProveedorporRUCResponse"/>
</message>
<message name="buscarProveedorporRUCObjeto">
<part name="parameters" element="tns:buscarProveedorporRUCObjeto"/>
</message>
<message name="buscarProveedorporRUCObjetoResponse">
<part name="parameters" element="tns:buscarProveedorporRUCObjetoResponse"/>
</message>
<message name="listarclasificacion">
<part name="parameters" element="tns:listarclasificacion"/>
</message>
<message name="listarclasificacionResponse">
<part name="parameters" element="tns:listarclasificacionResponse"/>
</message>
<message name="buscarProductoPorId">
<part name="parameters" element="tns:buscarProductoPorId"/>
</message>
<message name="buscarProductoPorIdResponse">
<part name="parameters" element="tns:buscarProductoPorIdResponse"/>
</message>
<message name="buscarRUCProveedorPorID">
<part name="parameters" element="tns:buscarRUCProveedorPorID"/>
</message>
<message name="buscarRUCProveedorPorIDResponse">
<part name="parameters" element="tns:buscarRUCProveedorPorIDResponse"/>
</message>
<message name="registrarProductos">
<part name="parameters" element="tns:registrarProductos"/>
</message>
<message name="registrarProductosResponse">
<part name="parameters" element="tns:registrarProductosResponse"/>
</message>
<message name="obtenerTipoPagoPorId">
<part name="parameters" element="tns:obtenerTipoPagoPorId"/>
</message>
<message name="obtenerTipoPagoPorIdResponse">
<part name="parameters" element="tns:obtenerTipoPagoPorIdResponse"/>
</message>
<message name="registrarClasificacion">
<part name="parameters" element="tns:registrarClasificacion"/>
</message>
<message name="registrarClasificacionResponse">
<part name="parameters" element="tns:registrarClasificacionResponse"/>
</message>
<portType name="peticiones">
<operation name="hello">
<input wsam:Action="http://ws/peticiones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/peticiones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://ws/peticiones/listarProveedoresRequest" message="tns:listarProveedores"/>
<output wsam:Action="http://ws/peticiones/listarProveedoresResponse" message="tns:listarProveedoresResponse"/>
</operation>
<operation name="registrarTipoPago">
<input wsam:Action="http://ws/peticiones/registrarTipoPagoRequest" message="tns:registrarTipoPago"/>
<output wsam:Action="http://ws/peticiones/registrarTipoPagoResponse" message="tns:registrarTipoPagoResponse"/>
</operation>
<operation name="registrarProveedorYClasificacion">
<input wsam:Action="http://ws/peticiones/registrarProveedorYClasificacionRequest" message="tns:registrarProveedorYClasificacion"/>
<output wsam:Action="http://ws/peticiones/registrarProveedorYClasificacionResponse" message="tns:registrarProveedorYClasificacionResponse"/>
</operation>
<operation name="registrarCompetenciaRol">
<input wsam:Action="http://ws/peticiones/registrarCompetenciaRolRequest" message="tns:registrarCompetenciaRol"/>
<output wsam:Action="http://ws/peticiones/registrarCompetenciaRolResponse" message="tns:registrarCompetenciaRolResponse"/>
</operation>
<operation name="registrarUsuarioPersonaRol">
<input wsam:Action="http://ws/peticiones/registrarUsuarioPersonaRolRequest" message="tns:registrarUsuarioPersonaRol"/>
<output wsam:Action="http://ws/peticiones/registrarUsuarioPersonaRolResponse" message="tns:registrarUsuarioPersonaRolResponse"/>
</operation>
<operation name="registrarFacturaConItems">
<input wsam:Action="http://ws/peticiones/registrarFacturaConItemsRequest" message="tns:registrarFacturaConItems"/>
<output wsam:Action="http://ws/peticiones/registrarFacturaConItemsResponse" message="tns:registrarFacturaConItemsResponse"/>
</operation>
<operation name="listarroles">
<input wsam:Action="http://ws/peticiones/listarrolesRequest" message="tns:listarroles"/>
<output wsam:Action="http://ws/peticiones/listarrolesResponse" message="tns:listarrolesResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://ws/peticiones/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://ws/peticiones/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="loginUsuario2">
<input wsam:Action="http://ws/peticiones/loginUsuario2Request" message="tns:loginUsuario2"/>
<output wsam:Action="http://ws/peticiones/loginUsuario2Response" message="tns:loginUsuario2Response"/>
</operation>
<operation name="listartipospagos">
<input wsam:Action="http://ws/peticiones/listartipospagosRequest" message="tns:listartipospagos"/>
<output wsam:Action="http://ws/peticiones/listartipospagosResponse" message="tns:listartipospagosResponse"/>
</operation>
<operation name="buscarRuc">
<input wsam:Action="http://ws/peticiones/buscarRucRequest" message="tns:buscarRuc"/>
<output wsam:Action="http://ws/peticiones/buscarRucResponse" message="tns:buscarRucResponse"/>
</operation>
<operation name="siexisteComp">
<input wsam:Action="http://ws/peticiones/siexisteCompRequest" message="tns:siexisteComp"/>
<output wsam:Action="http://ws/peticiones/siexisteCompResponse" message="tns:siexisteCompResponse"/>
</operation>
<operation name="siexisterol">
<input wsam:Action="http://ws/peticiones/siexisterolRequest" message="tns:siexisterol"/>
<output wsam:Action="http://ws/peticiones/siexisterolResponse" message="tns:siexisterolResponse"/>
</operation>
<operation name="buscarP">
<input wsam:Action="http://ws/peticiones/buscarPRequest" message="tns:buscarP"/>
<output wsam:Action="http://ws/peticiones/buscarPResponse" message="tns:buscarPResponse"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://ws/peticiones/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://ws/peticiones/crearProductoResponse" message="tns:crearProductoResponse"/>
</operation>
<operation name="loginUsuario">
<input wsam:Action="http://ws/peticiones/loginUsuarioRequest" message="tns:loginUsuario"/>
<output wsam:Action="http://ws/peticiones/loginUsuarioResponse" message="tns:loginUsuarioResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://ws/peticiones/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://ws/peticiones/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="registrarrol">
<input wsam:Action="http://ws/peticiones/registrarrolRequest" message="tns:registrarrol"/>
<output wsam:Action="http://ws/peticiones/registrarrolResponse" message="tns:registrarrolResponse"/>
</operation>
<operation name="listarPersonas">
<input wsam:Action="http://ws/peticiones/listarPersonasRequest" message="tns:listarPersonas"/>
<output wsam:Action="http://ws/peticiones/listarPersonasResponse" message="tns:listarPersonasResponse"/>
</operation>
<operation name="buscarClasificacionporNombre">
<input wsam:Action="http://ws/peticiones/buscarClasificacionporNombreRequest" message="tns:buscarClasificacionporNombre"/>
<output wsam:Action="http://ws/peticiones/buscarClasificacionporNombreResponse" message="tns:buscarClasificacionporNombreResponse"/>
</operation>
<operation name="registrarProveedor">
<input wsam:Action="http://ws/peticiones/registrarProveedorRequest" message="tns:registrarProveedor"/>
<output wsam:Action="http://ws/peticiones/registrarProveedorResponse" message="tns:registrarProveedorResponse"/>
</operation>
<operation name="buscarProveedorporRUC">
<input wsam:Action="http://ws/peticiones/buscarProveedorporRUCRequest" message="tns:buscarProveedorporRUC"/>
<output wsam:Action="http://ws/peticiones/buscarProveedorporRUCResponse" message="tns:buscarProveedorporRUCResponse"/>
</operation>
<operation name="buscarProveedorporRUCObjeto">
<input wsam:Action="http://ws/peticiones/buscarProveedorporRUCObjetoRequest" message="tns:buscarProveedorporRUCObjeto"/>
<output wsam:Action="http://ws/peticiones/buscarProveedorporRUCObjetoResponse" message="tns:buscarProveedorporRUCObjetoResponse"/>
</operation>
<operation name="listarclasificacion">
<input wsam:Action="http://ws/peticiones/listarclasificacionRequest" message="tns:listarclasificacion"/>
<output wsam:Action="http://ws/peticiones/listarclasificacionResponse" message="tns:listarclasificacionResponse"/>
</operation>
<operation name="buscarProductoPorId">
<input wsam:Action="http://ws/peticiones/buscarProductoPorIdRequest" message="tns:buscarProductoPorId"/>
<output wsam:Action="http://ws/peticiones/buscarProductoPorIdResponse" message="tns:buscarProductoPorIdResponse"/>
</operation>
<operation name="buscarRUCProveedorPorID">
<input wsam:Action="http://ws/peticiones/buscarRUCProveedorPorIDRequest" message="tns:buscarRUCProveedorPorID"/>
<output wsam:Action="http://ws/peticiones/buscarRUCProveedorPorIDResponse" message="tns:buscarRUCProveedorPorIDResponse"/>
</operation>
<operation name="registrarProductos">
<input wsam:Action="http://ws/peticiones/registrarProductosRequest" message="tns:registrarProductos"/>
<output wsam:Action="http://ws/peticiones/registrarProductosResponse" message="tns:registrarProductosResponse"/>
</operation>
<operation name="obtenerTipoPagoPorId">
<input wsam:Action="http://ws/peticiones/obtenerTipoPagoPorIdRequest" message="tns:obtenerTipoPagoPorId"/>
<output wsam:Action="http://ws/peticiones/obtenerTipoPagoPorIdResponse" message="tns:obtenerTipoPagoPorIdResponse"/>
</operation>
<operation name="registrarClasificacion">
<input wsam:Action="http://ws/peticiones/registrarClasificacionRequest" message="tns:registrarClasificacion"/>
<output wsam:Action="http://ws/peticiones/registrarClasificacionResponse" message="tns:registrarClasificacionResponse"/>
</operation>
</portType>
<binding name="peticionesPortBinding" type="tns:peticiones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarTipoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProveedorYClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCompetenciaRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUsuarioPersonaRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarFacturaConItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarroles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUsuario2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listartipospagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRuc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="siexisteComp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="siexisterol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarrol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClasificacionporNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProveedorporRUC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProveedorporRUCObjeto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarclasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProductoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRUCProveedorPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerTipoPagoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="peticiones">
<port name="peticionesPort" binding="tns:peticionesPortBinding">
<soap:address location="http://localhost:8080/Punto_de_Venta_Servidor/peticiones"/>
</port>
</service>
</definitions>